{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.deliveryID}}</td>
            <td>{{formatDate this.deliveryDue}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.invoiceID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->
<h2>Add Delivery</h2>
<form id="add-delivery-form" method="POST" action="/add-delivery-form">
    
    <label for="input-deliveryDue">Delivery Due: </label>
    <input type="date" name="input-deliveryDue" id="input-deliveryDue">

    <label for="input-customerID">Customer ID: </label>
    <select name="input-customerID" id="input-customerID">
        <option value="">Select an ID</option>
        {{#each customers}}
        <option value="{{this.customerID}}">{{this.customerID}}</option>
        {{/each}}
    </select>


    <label for="input-invoiceID">Inventory: </label>
    <input type="number" name="input-invoiceID" id="input-invoiceID">

    <input type="submit">
</form>