{{!-- Create a table --}}
<nav>
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/deliveries">Deliveries</a>
        <a href="/invoices">Invoices</a>
        <a href="/invoicedetails">Invoice Details</a>
        <a href="/products">Products</a>
</nav>
<h2>Index</h2>
<table id="people-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.customerID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
            <td>{{this.phone}}</td>
            <td><button onclick="deletePerson({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_person.js"></script>

<!-- /views/index.hbs -->
<h2>Add</h2>
<form id="add-person-form" method="POST" action="/add-person-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-homeworld">Homeworld: </label>
    <input type="number" name="input-homeworld" id="input-homeworld">

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <input type="submit">
</form>