{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.detailsID}}</td>
            <td>{{this.invoiceID}}</td>
            <td>{{this.productID}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->
<h2>Add Invoice Details</h2>
<form id="add-invoicedetails-form" method="POST" action="/add-invoicedetails-form">
    
    <label for="input-invoiceID">Invoice ID: </label>
    <select name="input-invoiceID" id="input-invoiceID">
        <option value="">Select an ID</option>
        {{#each invoices}}
        <option value="{{this.invoiceID}}">{{this.invoiceID}}</option>
        {{/each}}
    </select>

    <label for="input-productID">Product ID: </label>
    <select name="input-productID" id="input-productID">
        <option value="">Select an ID</option>
        {{#each products}}
        <option value="{{this.productID}}">{{this.productID}}</option>
        {{/each}}
    </select>

    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity">

    <input type="submit">
</form>