{{!--
Citation for following: invoicedetails handlebars - heavily inspired with the eception of stylistic choices
Date: 3/17/2025
Adapted From: NodeJS Starter App
Link: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/f805913e77a460e16291bb69ce35740630fd0fc9
--}}

{{!-- Create a table --}}
<nav>
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/deliveries">Deliveries</a>
        <a href="/invoices">Invoices</a>
        <a href="/invoicedetails">Invoice Details</a>
        <a href="/products">Products</a>
</nav>
<h2>Invoice Details</h2>
<table id="invoicedetails-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
        
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the detailsID, invoiceID, productID, quantity --}}
        {{#each data}}
        <tr data-value={{this.detailsID}}>
            <td>{{this.detailsID}}</td>
            <td>{{this.invoiceID}}</td>
            <td>{{this.productID}}</td>
            <td>{{this.quantity}}</td>
            <td><button onclick="deleteInvoiceDetails({{this.detailsID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_invoicedetails.js"></script>

{{!--Creates add invoice details button, inspired by the starter app --}}
<h2>Add Invoice Details</h2>
<form id="add-invoicedetails-form" method="POST" action="/add-invoicedetails-form">
    
    <label for="input-invoiceID">Invoice ID: </label>
    <select name="input-invoiceID" id="input-invoiceID" required>
        <option value="">Select an ID</option>
        {{#each invoices}}
        <option value="{{this.invoiceID}}">{{this.invoiceID}}</option>
        {{/each}}
    </select>

    {{!-- Dynamically filled dropdown menu --}}
    <label for="input-productID">Product ID: </label>
    <select name="input-productID" id="input-productID" required>
        <option value="">Select an ID</option>
        {{#each products}}
        <option value="{{this.productID}}">{{this.productID}}</option>
        {{/each}}
    </select>

    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity" required>

    <input type="submit">
</form>