{{!-- Create a table --}}
<nav>
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/deliveries">Deliveries</a>
        <a href="/invoices">Invoices</a>
        <a href="/invoicedetails">Invoice Details</a>
        <a href="/products">Products</a>
</nav>
<h2>Invoice Details</h2>
<table id="invoicedetails-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.detailsID}}</td>
            <td>{{this.invoiceID}}</td>
            <td>{{this.productID}}</td>
            <td>{{this.quantity}}</td>
            <td><button onclick="deleteInvoiceDetails({{this.detailsID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_invoicedetails.js"></script>

<!-- /views/index.hbs -->
<h2>Add Invoice Details</h2>
<form id="add-invoicedetails-form" method="POST" action="/add-invoicedetails-form">
    
    <label for="input-invoiceID">Invoice ID: </label>
    <select name="input-invoiceID" id="input-invoiceID">
        <option value="">Select an ID</option>
        {{#each invoices}}
        <option value="{{this.invoiceID}}">{{this.invoiceID}}</option>
        {{/each}}
    </select>

    <label for="input-productID">Product ID: </label>
    <select name="input-productID" id="input-productID">
        <option value="">Select an ID</option>
        {{#each products}}
        <option value="{{this.productID}}">{{this.productID}}</option>
        {{/each}}
    </select>

    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity">

    <input type="submit">
</form>