{{!--
Citation for following: products handlebars - heavily inspired with the exception of stylistic choices
Date: 3/17/2025
Adapted From: NodeJS Starter App
Link: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/f805913e77a460e16291bb69ce35740630fd0fc9
--}}
<nav>
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/deliveries">Deliveries</a>
        <a href="/invoices">Invoices</a>
        <a href="/invoicedetails">Invoice Details</a>
        <a href="/products">Products</a>
</nav>
<h2>Products</h2>
<table id="product-table">

    {{!-- Header section --}}
    <thead>
        {{!--Inspired by the starter app--}}
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the productID, productName, cost, inventory --}}
        {{#each data}}
        <tr data-value={{this.productID}}>
            <td>{{this.productID}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.inventory}}</td>
            <td><button onclick="deleteProduct({{this.productID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_product.js"></script>

{{!--Creates add product button --}}
<h2>Add Product</h2>
<form id="add-customer-form" method="POST" action="/add-product-form">
    
    <label for="input-productName">Product Name: </label>
    <input type="text" name="input-productName" id="input-productName" required>

    <label for="input-cost">Cost: </label>
    <input type="number" name="input-cost" id="input-cost">

    <label for="input-inventory">Inventory: </label>
    <input type="number" name="input-inventory" id="input-inventory">

    <input type="submit">
</form>